@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #131010;
    --font-primaria: 'Montserrat', sans-serif;
    --font-secundaria: 'Krona One', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.navegacao{
    padding: 5% 15%;
}

.navegacao_menu{
    display: flex;
    gap: 80px;
}

.navegacao_menu_links{
    text-decoration: none;
    font-family: var(--font-primaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
}

.apresentacao{
    display: flex;
    align-items: center;
    padding: 3% 15% 10% 15%;
    justify-content: space-between;
    gap: 75px;
}

.apresentacao_conteudo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao_conteudo_titulo{
    font-family: var(--font-secundaria);
    font-size: 36px;
    font-weight: 400;
}

span{
    color: var(--cor-terciaria);
}

.apresentacao_conteudo_texto{
    font-family: var(--font-primaria);
    font-size: 24px;
    font-weight: 400;
}

.apresentacao_navegacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.apresentacao_navegacao_titulo{
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 400;
}

.apresentacao_navegacao_redes{
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: var(--font-primaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    width: 60%;
    padding: 4%;
    border-radius: 8px;
}

.apresentacao_navegacao_redes:hover{
    background-color: var(--cor-hover);
}

.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    gap: 50px;
    text-align: center;
    padding: 2%;
    font-family: var(--font-primaria);
    font-size: 24px;
    font-weight: 400;
    width: 100%;
}

@media (max-width: 320px) {
    
    .apresentacao{
        display: flex;
        flex-direction: column-reverse;
    }

    .apresentacao_imagem{
        width: 130%;
    }
}

@media (max-width: 768px) {
    .apresentacao{
        display: flex;
        flex-direction: column-reverse;
    }

}